* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(168, 110, 110);
}

#headerLogo {   
    display: flex;
    justify-content: center;

    height: 10%;
    width: 100%;

    background-image: url(images/IoniaRegion.png);
    background-size: cover;
}

#headerLogo img {
    width: 5%;
}

header nav {
    margin: 0px 20% 0px 20%;
}

#headerBoutonList{
    display: flex;
    /*width: 100%;*/
}

#headerBoutonList li {

    display: inline;
    list-style-type: none;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    
    padding: 0px 10px 0px 10px;
}

.headerBouton {
    text-decoration: none;
    color: black;

    display: inline-block;
    margin: 0px 0px 10px 0px;
    padding: 10px 3px 0px 3px;
    
}

.headerBouton:hover {
    cursor: pointer;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#login {
    margin-left: auto;
}
