*{
    margin: 0;
    padding: 0;
}

header {
    background-color: bisque;
}

#headerLogo {
    margin: 0px 20px 0px 10px;
}

#headerBoutonList {
    display: flex;
    align-items: center;
}

.headerBouton {
    list-style-type: none;
    margin-right: 20px;
}

#LoLProno_logo {
    height: 60px;
}

#login {
    margin-left: auto;
}


