*{
    margin: 0;
    padding: 0;
}

header {
    background-color: bisque;
}

a {
    all: unset;
}

#headerBoutonNav {
    margin: 0px 20px 0px 10px;
}

#headerBoutonList {
    display: flex;
    align-items: center;
}

.headerBouton {
    list-style-type: none;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    width: 80px;
    height: 10px;
    padding: 10px 25px 15px 25px;
    background-color: bisque;
}

.headerBouton:hover {
    cursor: pointer;
    background-color: rgb(185, 151, 109);
    color: #ffffff;
}

#LoLProno_logo {
    height: 60px;
}

#login {
    margin-left: auto;
}
